/* import theme with styling variables */
@import 'src/styles/main-theme.scss';

/* margin around toolbar */
mat-toolbar {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#messages-container {
  margin-left: $default-gap;
}
