<div id="mainDiv" *ngIf="messages.length">

  <mat-toolbar
  >

    <h2
      id="header"
    >
      Messages
    </h2>

    <button
      mat-icon-button
      id="clearBtn"
      aria-label="Example icon-button with a heart icon"
      (click)="clear()"
    >
      <mat-icon
        aria-hidden="false"
        aria-label="Close icon"
      >
        close
      </mat-icon>
    </button>


  </mat-toolbar>

  <div
    id="messages-container"
    *ngFor="let message of messages; trackBy: trackByFn"
  >
    {{ message }}
  </div>

</div>
