## Listed files are not uploaded by 'gcloud builds submit and 'gcloud app deploy' - using the same file for each to avoid environment differences introducing error => all files needed for the build or deployment are included

# dist directories are not ignored even though they are rebuilt in the build steps - the newly built dist directories are included when you deploy

## ignore from root...
.git/
.nyc_output/
.vscode/
coverage/
node_modules/
.gitignore
cron.yaml
project-perform.code-workspace
README.md

## ignore from backend
backend/coverage/

## ignore from frontend
frontend/coverage/
frontend/node_modules/
