
# ignore istanbul report directories
.nyc_output/
# ignore istanbul coverage directories
coverage/
# ignore all all 'logs/' directories
logs/
# ignore all node_module dependencies
node_modules/
# ignore all files and directories in all public/ directories
public/
# ignore all '/types'mdirectories 
types/
# ignore all compiled 'dist' directories
dist/
# ignore all credential certs directories
certs/
# ignore all .env files
.env

# NB: Always ignore config files with credentials i.e. certs directory and .env file.

# If files are not being ignored then they may have been previously added
# try git rm --cached <filename>, or git rm -r --cached <dirname> to get git
# to forget the file or directory.  (Don't forget the --cached, otherwise git
# will delete the file or directory.
