
### Security-relevant ignores ###

# ignore all credential keys and certs
# (but keep directory stuncture for copying from GCP storage)
**/certs/database/*.*
**/certs/gcpStorage/*.*

# ignore all .env files
.env
.env*

### End of security-relevant ignores ###

### Other ignores ###

# nyc test coverage
.nyc_output

# Coverage directory used by istanbul
coverage

# Dependency directories
node_modules/

# ignore all compiled 'dist' directories
dist/

# ignore miscellaneous files
debug.log

### End of other ignores ###


# If files are not being ignored then they may have been previously added
# try git rm --cached <filename>, or git rm -r --cached <dirname> to get git
# to forget the file or directory.  (Don't forget the --cached, otherwise git
# will delete the file or directory.
