<h2 id="header">My Members</h2>

<div>
  <label>Member name:
    <input id="nameInput" #memberName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button id="addBtn" (click)="add(memberName.value); memberName.value=''">
    add
  </button>
</div>

<ul class="members">
  <li *ngFor="let member of members; trackBy: trackByFn">
    <a id="link" routerLink="/detail/{{member.id}}">
      <span id="memberId" class="badge">{{ member.id }}</span> {{ member.name }}
    </a>
    <button id="deleteBtn" class="delete" title="delete member"
      (click)="delete(member)">x</button>
  </li>
</ul>
