<div>

<form>
  <mat-form-field
    appearance="outline"
  >

    <input
      matInput
      type=text
      autocomplete="off"
      id="search-box"
      #searchBox
      value=''
      placeholder="Enter name search term"
      (input)="search(searchBox.value)"
    >

    <mat-label>
      {{ header }}
    </mat-label>

    <button
      mat-button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      *ngIf="searchBox.value"
      (click)="searchBox.value=''; search(searchBox.value)"
    >
      <mat-icon>close</mat-icon>
    </button>

    <!-- show if members found -->
    <mat-hint
      *ngIf="members?.length > 0"
    >
      Click on a name below to see the member detail
    </mat-hint>

  </mat-form-field>
</form>

  <mat-nav-list>
    <a
      *ngFor="let member of members; trackBy: trackByFn"
      mat-list-item
      routerLink="/{{detail.path}}/{{member.id}}"
    >
      {{ showProperty(member) }}
    </a>
  </mat-nav-list>

</div>




