<form>
  <mat-form-field
    appearance="outline"
  >

    <input
      matInput
      type=text
      autocomplete="off"
      id="search-box"
      #searchBox
      value=''
      (input)="search(searchBox.value)"
    >

    <mat-label>
      {{ header }}
    </mat-label>

    <!-- the clear/reset icon button -->

    <button
      mat-button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      *ngIf="searchBox.value"
      (click)="searchBox.value=''; clear()"
    >
      <mat-icon>close</mat-icon>
    </button>

    <!-- ensure no overlap between the mat-hint conditionals -->

    <!-- show if no search yet or new search -->
    <mat-hint
      *ngIf="!searchBox.value"
    >
      Enter a member name search term
    </mat-hint>

    <!-- show if no members found -->
    <mat-hint
      *ngIf="searchBox.value && (members$ | async)?.length === 0"
    >
      No member found
    </mat-hint>

    <!-- show if members found -->
    <mat-hint
      *ngIf="searchBox.value && (members$ | async)?.length > 0"
    >
      Click on a name below to see the member detail
    </mat-hint>

  </mat-form-field>
</form>

<mat-nav-list>
  <a
    *ngFor="let member of (members$ | async); trackBy: trackByFn"
    mat-list-item
    routerLink="/{{detail.path}}/{{member.id}}"
  >
    {{ showProperty(member) }}
  </a>
</mat-nav-list>




