/* import theme with $primary and $accent variables */
/* also imports default typography $config variable */
@import 'src/styles/main-theme.scss';

.member-card {
  margin-left: 16px;
  margin-right: 16px;
  background-color: mat-color($primary);
}
mat-list-item.mat-list-item {
  height: 32px;
}

#goBackBtn {
  background-color: mat-color($accent);
}

/* provide a margin around the divider */
mat-divider.mat-divider {
  margin: 16px;
}
