<form>
    <mat-form-field
      appearance="outline"
    >

      <input
        matInput
        type=text
        autocomplete="off"
        id="inputBox"
        #inputBox
        [(ngModel)]="inputText"
        name="inputBox"
        placeholder="{{placeholder}}"
        (keyup.enter)="enter(inputBox.value)"
      >

      <mat-label>
        {{ label }}
      </mat-label>

      <button
      mat-icon-button
      matSuffix
      id="actionBtn"
      #addBtn
      [attr.aria-label]="ariaLabel"
      *ngIf="inputBox?.value"
      (click)="enter(inputBox.value)"
      >
        <mat-icon>
          {{ icon }}
        </mat-icon>

      </button>

      <mat-hint>
        {{ hint }}
      </mat-hint>

      <!-- dummy input to prevent save button capturing 'Enter' by default -->
      <!-- instead we explicitly capture the keyup above -->
      <button
        type="submit"
        style = "display:none"
      >
      </button>

    </mat-form-field>

  </form>
