/* import theme with $primary and $accent variables */
/* also imports default typography $config variable */
@import 'src/styles/main-theme.scss';

/* provide a margin around the divider */
mat-divider.mat-divider {
  margin: 16px;
}

/* position and size the member add input */
mat-form-field.mat-form-field {
  margin-left: 16px;
  width: 350px;
}

/* hide list item 'shadow' during mouse hover */
mat-list-item.mat-list-item {
  width: 0px;
}

/* space between id and name */
.memberData {
  margin-right: 4px;
}

/* extra space between delete button */
#deleteBtn {
  margin-left: 4px;
}

/* hover darker */
.memberData:hover {
  background-color: mat-color($primary, darker);
}

/* hover darker */
#deleteBtn:hover {
  background-color: mat-color($accent, darker);
}
