<mat-nav-list>
    <mat-list-item
      *ngFor="let member of members; trackBy: trackByFn"
      fxLayout="row"
      fxLayoutAlign="start"
    >

    <a
      mat-raised-button
      color="primary"
      fxFlex="0 0 auto"
      routerLink="/detail/{{member.id}}"
      id="memberId"
      class="memberData"
    >
        {{member.id}}
    </a>

    <a
      mat-raised-button
      color="primary"
      fxFlex="0 0 auto"
      routerLink="/detail/{{member.id}}"
      id="memberName"
      class="memberData"
    >
        {{member.name}}
    </a>

    <button
      mat-raised-button
      fxFlex="0 0 auto"
      color="accent"
      id="deleteBtn"
      (click)="delete(member)">
        <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
</mat-nav-list>

<mat-divider></mat-divider>

<app-member-input
[mode]="inputMode"
inputText=""
(inputEnter)='add($event)'
>
</app-member-input>
