/* import theme with styling variables */
@import 'src/styles/main-theme.scss';

/* hide list item 'shadow' during mouse hover */
mat-list-item.mat-list-item.ng-star-inserted {
  width: $element-width;
}

#memberId {
  height: $button-height;
  width: $button-width;
  /* space to the right of id element */
  margin-right: $inner-spacing;
}

/* size central name element */
#memberName {
  height: $button-height;
  width: ($element-width - (2 * $button-width) - (3 * $inner-spacing));
  /* space to the right of name element */
  margin-right: $inner-spacing;
}

#deleteBtn {
  height: $button-height;
  width: $button-width;
  /* extra space to the left of the delete button */
  margin-left: $inner-spacing;
}

/* hover darker */
.memberData:hover {
  background-color: mat-color($primary, darker);
}

/* hover darker */
#deleteBtn:hover {
  background-color: mat-color($accent, darker);
}

/* provide a margin around the divider */
mat-divider.mat-divider {
  margin: $default-gap;
}
