<div
  fxLayout="row"
  fxLayoutGap="16px grid"
  fxLayoutAlign="flex-start"
>
  <form>
    <mat-form-field
      appearance="outline"
    >

      <input
        matInput
        type=text
        autocomplete="off"
        id="inputBox"
        #inputBox
        value=''
        (keyup.enter)="add(inputBox.value); inputBox.value=''"
      >

      <mat-label>
        Add Member
      </mat-label>

      <button
      mat-icon-button
      matSuffix
      #addBtn
      id="addBtn"
      aria-label="Save"
      *ngIf="inputBox?.value"
      (click)="add(inputBox.value); inputBox.value=''"
      >
        <mat-icon>save</mat-icon>
      </button>

      <mat-hint
      >
        Enter the new member name and click save or press Enter
      </mat-hint>

      <!-- dummy input to prevent save button capturing 'Enter' by default -->
      <!-- instead we explicitly capture the keyup above -->
      <button
        type="submit"
        style = "display:none"
      >
      </button>

    </mat-form-field>

  </form>

</div>

<mat-divider></mat-divider>

<ul class="members">
  <li *ngFor="let member of members; trackBy: trackByFn">
    <a id="link" routerLink="/detail/{{member.id}}">
      <span id="memberId" class="badge">{{ member.id }}</span> {{ member.name }}
    </a>
    <button id="deleteBtn" class="delete" title="delete member"
      (click)="delete(member)">x</button>
  </li>
</ul>
