/* style the page header */
.mat-display-1 {
  margin-top: 5rem;
  text-align: center;
}

/* keep a margin between nav bar and the routed components */
nav {
  margin-bottom: 16px;
}

.item-active{
  /* set opacity when a tab link is active via browser (and not via a click) */
  opacity: 1.0;
  /* override disabled color so the disabled detail tab appears selected */
  color: rgba(0, 0, 0, 0.87);
}

/* provide a margin above the divider */
mat-divider.mat-divider {
  margin-top: 16px;
}
