/* import theme with styling variables */
@import 'src/styles/main-theme.scss';

/* provide a margin above the divider */
mat-divider.mat-divider {
  margin-top: $default-gap;
}

.progress-bar {
  position: absolute;
  top: 8px;
  z-index: 5000;
}
